/* Ticker Styling */
.ticker-wrapper.has-js {
	margin: 20px 0px 20px 0px;
	padding: 0px 20px;
	width: 419px;
	height: 32px;
	display: block;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color: #000000;
	font-size: 0.75em;
}
.ticker {
	width: 349px;
	height: 23px;
	display: block;
	position: relative;
	overflow: hidden;
	background-color: #000000;
}
.ticker-title {
	padding-top: 9px;
	color: #FFFFFF;
	font-weight: bold;
	background-color: #000000;
	text-transform: uppercase;
}
.ticker-content {
	margin: 0px;
	padding-top: 9px;
	position: absolute;
	color: #EFFD07;
	font-weight: bold;
	background-color: #000000;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1.2em;
}
.ticker-content:focus {
	none;
}
.ticker-content a {
	text-decoration: none;	
	color: #FFFFFF;
}
.ticker-content a:hover {
	text-decoration: underline;	
	color: #FFFFFF;
}
.ticker-swipe {
	padding-top: 9px;
	position: absolute;
	top: 0px;
	background-color: #000000;
	display: block;
	width: 438px;
	height: 23px; 
}
.ticker-swipe span {
	margin-left: 1px;
	background-color: #000000;
	border-bottom: 1px solid #FFFFFF;
	height: 12px;
	width: 7px;
	display: block;
}

.left .ticker-swipe {
	/*left: 80px;*/
}
.left .ticker-controls, .left .ticker-content, .left .ticker-title, .left .ticker {
    float: left;
}
.left .ticker-controls {
    padding-left: 6px;
}
.right .ticker-swipe {
	/*right: 80px;*/
}
.right .ticker-controls, .right .ticker-content, .right .ticker-title, .right .ticker {
    float: right;
}
.right .ticker-controls {
    padding-right: 6px;
}